.manage-pipe-table {
    margin-bottom: 20px;
  
    .adminTable {
      th, td {
        padding: 10px !important;
        border: 1px solid #dee2e6 !important;
        background: rgba(177, 51, 37, 0.05);
      }
      }
  
    input, select {
      border: 1px solid #ced4da !important;
      border-radius: 5px !important;
      background-color: #fff !important;
    }
  
    h3 {
      text-transform: capitalize;
      margin-bottom: 20px;
    }
  }
  

.dataTabs {
    ul {
        padding: 0px;
        list-style: none;
        display: flex;
        column-gap: 20px;
        text-transform: capitalize;
        padding: 20px 0px;
    }
    li a {
        padding: 10px 20px;
        border-radius: 50px;
        border: 1px solid #B13325;
        display: block;
        text-decoration: none;
        &.active {
            background: #B13325;
            color: #fff;
        }
    }
}
.pagina-senza-elementor .form-table {
    th, td {
        background: #b133250d;
        vertical-align: middle;
        border: 1px solid #dee2e6 !important;
        padding: 20px !important;
        label {
            margin-bottom: 0;
        }
    }
}
.pagina-senza-elementor h1 {
    margin-top: 30px;
    font-size: 20px;
}
#your-profile {
    .dataTabs {
            li a {
                padding: 10px 20px;
                border-radius: 50px;
                border: 1px solid #2271b1;
                display: block;
                &.active {
                    background: #2271b1;
                    color: #fff;
                }
            }
        }
        .adminTable {
            th, td {
                background: #F1F4F9;
            }
    }
}

.pgfcLoginForm {
    background: rgba(177, 51, 37, 0.0509803922);
    padding: 30px;
    width: 100%;
    max-width: 500px;
    margin: auto;
    border-radius: 5px;
} 
.manageProfileBtnFront a {
    padding: 10px 20px;
    border-radius: 50px;
    border: 1px solid #B13325;
    display: block;
    text-decoration: none;
    background: #B13325;
    color: #fff !important;
    width: max-content;
    margin: 20px 0px;
}
.adminTableFront.table {
    td {
        padding: 10px !important;
        border: 1px solid #dee2e6 !important;
        background: rgba(177, 51, 37, 0.05);
    }
    th {
        background: #b13325;
        color: #fff;
        line-height: 18px;
    }
}

.page-template-default {
    .frontorgmang {
        display: flex;
        width: 300px;
        margin: 20px 0px;
        input {
            border: 1px solid #dee2e6 !important;
        }
        button{
            background: #b13325;
            border: none;
            color: #fff;
            padding: 10px;
        }
    }
    .paginationfront a{
        border: 1px solid #B13325;
        padding: 4px 20px;
        border-radius: 50px;
        margin: 0px 10px;
    }
}