.manage-pipe-table {
  margin-bottom: 20px;
}
.manage-pipe-table .adminTable th, .manage-pipe-table .adminTable td {
  padding: 10px !important;
  border: 1px solid #dee2e6 !important;
  background: rgba(177, 51, 37, 0.05);
}
.manage-pipe-table input, .manage-pipe-table select {
  border: 1px solid #ced4da !important;
  border-radius: 5px !important;
  background-color: #fff !important;
}
.manage-pipe-table h3 {
  text-transform: capitalize;
  margin-bottom: 20px;
}

.dataTabs ul {
  padding: 0px;
  list-style: none;
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
  text-transform: capitalize;
  padding: 20px 0px;
}
.dataTabs li a {
  padding: 10px 20px;
  border-radius: 50px;
  border: 1px solid #B13325;
  display: block;
  text-decoration: none;
}
.dataTabs li a.active {
  background: #B13325;
  color: #fff;
}

.pagina-senza-elementor .form-table th, .pagina-senza-elementor .form-table td {
  background: rgba(177, 51, 37, 0.0509803922);
  vertical-align: middle;
  border: 1px solid #dee2e6 !important;
  padding: 20px !important;
}
.pagina-senza-elementor .form-table th label, .pagina-senza-elementor .form-table td label {
  margin-bottom: 0;
}

.pagina-senza-elementor h1 {
  margin-top: 30px;
  font-size: 20px;
}

#your-profile .dataTabs li a {
  padding: 10px 20px;
  border-radius: 50px;
  border: 1px solid #2271b1;
  display: block;
}
#your-profile .dataTabs li a.active {
  background: #2271b1;
  color: #fff;
}
#your-profile .adminTable th, #your-profile .adminTable td {
  background: #F1F4F9;
}

.pgfcLoginForm {
  background: rgba(177, 51, 37, 0.0509803922);
  padding: 30px;
  width: 100%;
  max-width: 500px;
  margin: auto;
  border-radius: 5px;
}

.manageProfileBtnFront {
  display: flex;
  justify-content: end;
}
.manageProfileBtnFront .innerRight {
  text-align: right;
  display: inline-block;
}
.manageProfileBtnFront .innerRight a {
  border-radius: 0;
}

.manageProfileBtnFront a {
  padding: 10px 20px;
  border-radius: 50px;
  border: 1px solid #B13325;
  display: block;
  text-decoration: none;
  background: #B13325;
  color: #fff !important;
  width: -moz-max-content;
  width: max-content;
  margin: 20px 0px;
  position: relative;
  bottom: 30px;
}

.adminTableFront.table td {
  padding: 10px !important;
  border: 1px solid #dee2e6 !important;
  background: rgba(177, 51, 37, 0.05);
}
.adminTableFront.table th {
  background: #b13325;
  color: #fff;
  line-height: 18px;
}

.page-template-default .frontorgmang {
  display: flex;
  margin: 20px 0px;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.page-template-default .frontorgmang .form-wrap-front {
  display: flex;
}
.page-template-default .frontorgmang .form-wrap-right .innerRight {
  position: relative;
  bottom: 30px;
}
.page-template-default .frontorgmang input {
  border: 1px solid #dee2e6 !important;
}
.page-template-default .frontorgmang button {
  background: #b13325;
  border: none;
  color: #fff;
  padding: 10px;
}
.page-template-default .frontorgmang .front-logout {
  padding: 8px 16px;
  background: #b13325;
  color: #fff;
  border: none;
  border-radius: 0;
  text-decoration: none;
}
.page-template-default .paginationfront a {
  border: 1px solid #B13325;
  padding: 4px 20px;
  border-radius: 50px;
  margin: 0px 10px;
}

.page-template-default .activityContainer {
  background: #fbf5f4;
  padding: 20px;
  border: 1px solid #dee2e6 !important;
}
.page-template-default .activityContainer th, .page-template-default .activityContainer td {
  background: #fff;
}
.page-template-default .manage-pipe-table a.activityToggle {
  background: #b13325;
  color: #fff;
  padding: 5px 15px;
  display: block;
  width: -moz-max-content;
  width: max-content;
  border-radius: 37px;
  margin-top: 10px;
}

.pgfc-hidden {
  border-top: solid 3px red;
}

._backBtn {
  text-align: left;
  cursor: pointer;
  color: #b13325;
  font-weight: 500;
}
.pgfc-success-message p {
  color: #ffffff;
  background: green;
  padding: 5px 10px;
  text-align: center;
}

.eachDealCon {
  width: 100%;
  border-top: solid 1px #ccc;
  padding-top: 30px;
  margin-top: 30px;
}
.eachDealCon tr {
  border: none !important;
}
.eachDealCon th {
  text-align: left;
  font-size: 14px;
  padding: 10px 30px 10px 0;
  vertical-align: top;
  border-top: none !important;
  width: 200px;
}
.eachDealCon td {
  font-size: 14px;
  padding: 10px 0;
  border-top: none !important;
}

.eachActivity {
  width: 100%;
  display: flex;
  align-items: center;
}
.eachActivity span.activityOrg {
  display: inline-block;
  background: #ccc;
  padding: 2px 5px;
  margin-left: 10px;
}

.activityStatus {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: inline-block;
  margin: 0 5px 0 0;
  background-color: grey;
}
.activityStatus.done {
  background-color: green;
}
.activityStatus.notDone {
  background-color: red;
}

.manageOrgBtn a {
  padding: 10px 20px;
  border-radius: 50px;
  border: 1px solid #B13325;
  display: block;
  text-decoration: none;
  background: #B13325;
  color: #fff !important;
  width: -moz-max-content;
  width: max-content;
  margin: 20px 0px;
}

.org-suggestions {
  list-style: none;
  margin: 0;
  border: 1px solid #ccc;
  background: #fff;
  position: absolute;
  z-index: 9999;
  max-height: 200px;
  overflow-y: auto;
  padding-left: 0 !important;
  width: 100%;
  padding: 0;
}
.org-suggestions li {
  font-size: 14px;
}
.org-suggestions li::before {
  content: unset !important;
}

.org-suggestions li {
  padding: 5px 10px;
  cursor: pointer;
}

.org-suggestions li:hover {
  background: #f0f0f0;
}

.org-loader {
  font-size: 12px;
  color: #555;
  margin-top: 4px;
  padding-left: 2px;
}

.org-suggestions-noresult.no-results {
  position: relative;
  color: red;
  border: none;
  font-size: 13px;
}

.login-message a {
  font-weight: 600;
  text-decoration: underline !important;
}/*# sourceMappingURL=style.css.map */